
 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #f4f7fa;
        }

        .container {
            max-width: 500px;
            margin: 50px auto;
            background-color: white;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            background-color: #009688;
            color: white;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 5px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .amount p {
            font-size: 18px;
            margin-bottom: 8px;
        }

        .amount input {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
            box-sizing: border-box;
        }

        .dropdown {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            /* width: 62rem; */
        }

        .from p, .to p {
            margin: 9px 0px;
            font-size: 18px;
        }

        .selectContainer {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .selectContainer img {
            width: 30px;
            height: 30px;
        }

        select {
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ccc;
            max-width: 18rem;
        }
@media (max-width:375px) {
            select{
                max-width: 14rem;
            }
            
        }

        .arrow{
            width: 5%;
        }

        .arrowContainer{
            margin: 0;
            padding: 4px;
            padding-top: 22px;
            text-align: center;
        }

        .fa-arrow-right-arrow-left {
            font-size: 24px;
            color: #009688;
            padding-top: 20px;
            padding-left: 211px;
            align-items: center;
        }

        .msg {
            font-size: 19px;
            color: #000000;
            text-align: center;
            margin-top: 20px;
        }
        .msg.hide{
            display: none;
        }

        button {
            padding: 12px;
            background-color: #009688;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
            transition: background-color 0.3s ease,  transform 0.3s ease;
        }

        button:hover {
            background-color: #00796b;
            transform: scale(1.01)
        }
